@font-face {
  font-family: "Ramche";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Ramche.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Ramche;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: inherit;

  &:hover {
    text-decoration: underline;
  }
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  overflow: hidden;

  & > div {
    height: 100%;
  }
}

#menu {
  width: 150px;

  a {
    font-size: 12px;
  }
}

#content {
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
}
